<html>
<h2>Hyper news</h2>
    <form action="" method="get">
        <p>Search for news</p>
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
    {% regroup news by created as datetime_list %}
    {% for date in datetime_list %}
    <h4>{{ date.grouper }}</h4>
    <ul>
        {% for news in date.list %}
        <li><a target="_self" href="/news/{{ news.link }}/">{{ news.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
<a target="_blank" href="/news/create/">Create</a>
</html>